
.side-bar
  .side-bar__user-name
    .side-bar__user-name-box
      = current_user.name
      %p.side-bar__user-name-box__i
        -# ユーザー名
      %ul.side-bar__user-name-box__nemu
        %li
        = link_to new_group_path, class: "setting" do
          = icon('fas', 'edit') 
        -# = link_to "#", class: "new-group" do
        -#   = icon('fas', 'cog') 
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'new-group')
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group-list
        = link_to group_messages_path(group) do
          .side-bar__group-list-name
            = group.name
          .side-bar__group-list-message
            = group.show_last_message


            -# = link_to "#", class: "side-bar__group-list-name" do


              